*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppin 'san-serif';
    font-size: small;
}
.full{
   overflow: hidden;
}
.container{
    
     height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.5),rgb(34, 32, 32)), url(images/pexels-thgusstavo-santana-2014809.jpg);
    background-position: right;
    background-repeat: no-repeat;
    background-size: cover;

}
.container nav{
    width: 80vw;
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav .logo img{
   width: 150px;
}

nav ul{
    list-style: none;
}
nav ul li{
    display: inline-block;
    font-size: bold;
    text-transform: capitalize;
    padding: 0 15px;

}
nav ul li a{
    color: white;
    text-decoration: none;
}
nav .btn{
    padding: 4px 10px;
    font-weight: bold;
    color: white;
    background-color: blueviolet;
    border: none;
    outline: none;
}

section{
    height: 80vh;
    width: 100vw;
    display: flex;
    align-items: center;
    padding-left: 90px;

}
section h1{
    font-size: 3.4em;
    color: white;
    text-transform: capitalize;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
section .pag{
    color: white;
    margin-top: 10px;
    border-left: 3px solid blueviolet;
    padding-left: 10px;
    text-transform: lowercase;
    font-weight: bold;
}
section .btn{
    padding: 10px 40px;
    font-weight: bold;
    color: white;
    background-color: blueviolet;
    border: none;
    outline: none;
    margin-top: 20px;
}



/*------- about slide -------*/


.about{
    width: 100vw;
    height: 90vh;
    padding: 30px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(71, 65, 65);

}
.about .split{
    display: flex;
    align-items: center;
    width: 100%;
    height: 80vh;
    justify-content: space-around;
    flex-wrap: nowrap;
    padding: 5px 5px;
    


}
.about .split .left{
    width: 50%;
    height: 100%;
    position: relative;
    /*padding: 20px 20px;*/
    

}

.about .split .left .me{
    position: absolute;
    top: 80px;
    left: 200px;
    width: 170px;
    border: 5px solid rgb(71, 65, 65);
}
.about .split .left .boss{
    position: absolute;
    top: 0;
}
.about .split .left img{
    width: 250px;
}
.about .split .right{
    width: 30%;
    height: 100%;
    padding: 20px 5px;
    color: white;
}

.about .split .right h2{
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    position: relative;
}
.about .split .right .right_head::before{
    content: '';
    position: absolute;
    top: -20px;
    left: 0;
    width: 80px;
    height: 4px;
    border-radius: 5px;
    background-color: blueviolet;
}
.about .time{
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 0px;
    margin-top: 40px;
}
 
.about .right p{
    margin-top: 20px;
}


/*-------- service ------*/


.service{
    width: 100vw;
    height: 100%;
    background: linear-gradient(to top right,black,grey);
    color: black;
    position: relative;
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
    
  
}

.service .style_slide{
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  padding: 10px;
    gap: 10px;

}
.service .text{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: black;
    

}
.service .text_img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-image: url(images/CIPZ3887.JPG);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}

.service h2{
    font-size: 2rem;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.service p{
    color: white;
}
.service .imgflow{
    width: 100%;
    display: flex;
    padding: 40px;
    align-items: center;
    justify-content: center;
    
    
}
.service .style_slide img{
    width: 60px;
    max-width: 180px;
    border-radius: 5px;
    z-index: 100;
    transition: 0.5s;
    cursor: pointer;
}
.service .style_slide img:hover{
    transform: scale(0.8) rotate(-15deg);
    border-radius: 10px;
    box-shadow: 0 10px 7px rgb(113, 94, 148);
}
.full_image{
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.8);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 150;
    
}
.full_image img{
    width: 300px;
    height: 400px;
    max-width: 300px;
}
.full_image span{
    
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 30px;
    cursor: pointer;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

/* ----- service 2 ----*/

.service2{
width: 100vw;
    height: 90vh;
    padding: 10px 50px;
    background-image: linear-gradient(rgba(0,0,0,0.1),black),url(images/hair-salon-gd9b6fc798_1280.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.head_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.head_text h2,h3{
    font-size: 1.9em;
    color: white;
    text-transform: capitalize;
    font-family: 'Times New Roman', Times, serif;

}
.split1{
display: flex;
align-items: center;
width: 100%;
height: 80vh;
justify-content: space-around;
flex-wrap: nowrap;
padding: 5px 5px;
}

.left1{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding-left: 30px;
}
.left_inner h4{
      color: blue;
      font-size: 1.4em;
      text-transform: capitalize;
}
.left_inner p{
    color: white;
}
.right1{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.right1 .imgbox{
    width: 200px;
    height: 300px;
    background-image: url(images/IODQ5596.JPG);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 5px;
    position: relative;
}
.service2 .right1 .btn_top{
    position: absolute;
    bottom: 20px;
    right: -20px;
    padding: 10px;
    background-color: blueviolet;
    color: white;
    font-size: smaller;
    outline: none;
    border: none;
    transition: 0.5s;
}
.service2 .right1 .btn_top:hover{
    border: 1px solid white;
    color: white;
    background-color: transparent;
}
.service2 .right1 .btn_bottom{
    position: absolute;
    top: 20px;
    left: -30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: blueviolet;
    color: white;
    font-size: smaller;
    outline: none;
    font-weight: bold;
    border: 2px solid white;
    transition: 0.5s;
}